:root,
[data-bs-theme] {
    --light-color: #E9E9E9;
    --primary-light-color: #DCEDE0;
    --secondary-light-color: #B28FDA;
    --dark-color: #262626;
    --primary-dark-color: #275331;
    --secondary-dark-color: #61178C;
}

h1 {
    font-family: "MonteCarlo", cursive;
    color: var(--primary-dark-color);
}

h2 {
    font-family: "Julius Sans One", sans-serif;
    color: var(--secondary-dark-color);
}

h3 {
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-family: "Nunito Sans", sans-serif;
    color: var(--dark-color);
}

nav {
    background-color: var(--primary-light-color);
    color: var(--primary-dark-color);
}

.navbar-toggler {
    border: none; 
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav-link {
    color: var(--primary-dark-color);
    font-family: "Josefin Sans", sans-serif;
    border: var(--primary-dark-color) solid 1px;
    border-radius: 4px;
    width: fit-content;
    padding: 8px 12px;
    margin: 10px 20px;
}

.intro {
    background-color: var(--light-color);
}

.hours-location {
    background-color: var(--primary-light-color);
}

.contact {
    background-color: var(--light-color);
}

.separator {
    border-bottom: 2px solid var(--secondary-light-color);
    width: 50%;
}

footer {
    background-color: var(--primary-light-color);
}

.btn-primary {
    background-color: var(--secondary-dark-color);
    color: var(--light-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--light-color);
    color: var(--secondary-dark-color);
    border: var(--secondary-dark-color) solid 1px;
}